{% extends '::base.html.twig' %}

 {% block body %}


     <div class="col-md-4">
         <form action="{{ path('_login_check') }}" method="post">
             <div class="form-group">
                 <label for="username">Логин:</label>
                 <input class="form-control" type="text" id="username" name="_username" value="{{ username }}" />
             </div>

             <div class="form-group">

                 <label for="password">Пароль:</label>
                 <input class="form-control" type="password" id="password" name="_password" />
             </div>

             {% if error %}
                 <span class="help-block">
                     <p class="text-danger">{{ message }}</p>
                 </span>
             {% endif %}
             <button type="submit" class="btn btn-primary pull-right">Submit</button>
         </form>
     </div>

 {% endblock %}
