{% form_theme password_form  'AcmeMailBundle:Default:fields.html.twig' %}
{% extends 'AcmeMailBundle:Default:profile.html.twig' %}

{% block submenu %}
    <li><a href="{{ path('_profile') }}">
            <span class="glyphicon glyphicon-arrow-left"></span> Назад</a></li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            {{ form_start(password_form, {'attr':{'class': ' ', 'role' : 'form' }}) }}
            <span class="help-block">{{ form_errors(password_form) }}</span>
            {{ form_row(password_form.password) }}
            <span class="help-block">{{ form_errors(password_form.password) }}</span>
            {{ form_row(password_form.new_password) }}
            <div class="help-block">{{ form_errors(password_form.new_password) }}</span>
            <div class="form-group pull-right">
                {{ form_widget(password_form.password_submit, {'attr':{'class':'btn btn-default'}}) }}
            </div>
            {{ form_end(password_form) }}
        </div>
    </div>
{% endblock %}