{% form_theme form 'AcmeMailBundle:Default:fields.html.twig' %}
{% extends '::base.html.twig' %}

 {% block body %}
     <div class="col-md-6 col-md-offset-1">
     {{ form_start(form, {'method':'post', 'action': path('_registration'), 'attr':{'class': '', 'role' : 'form'}}) }}
     {{ form_errors(form) }}
         <div>
             {{ form_row(form.user.username) }}
             {{ form_row(form.user.password) }}
         </div>

         <p>
             <h4><span class="label label-primary" id="settings_label">Добавить личную информацию </span></h4>
             <div id="settings">
                 {{ form_row(form.user.settings.name) }}
                 {{ form_row(form.user.settings.company) }}
                 {{ form_row(form.user.settings.phone) }}
             </div>
         </p>

        <div class="form-group">
            <h4><span class="label label-primary">Тариф -> </span>
                <small class="pull-right">{{ form_widget(form.user.rate,  {'attr': {'class': 'form-control'}}) }}</small>
             </h4>
        </div>

         <div class="checkbox">
             <label>
                {{ form_widget(form.terms)}} Соглашения и правила
             </label>
         </div>
             <div class="row form-group pull-right">
         {{ form_widget(form.register, {'attr': {'class':'btn btn-primary'}}) }}
                 </div>
     {{ form_end(form, {'render_rest': true}) }}
     </div>

     <div class="col-md-4">
         <div class="alert alert-info" role="alert" id="info">
         </div>
     </div>

     <script type="text/javascript">
         $(document).ready(function() {

             $("div#info").hide();
             $("div#settings").hide();
             //проверка, если есть заполненные поля настроек, показываем их
             $("div#settings").children("div").find("input").each(function(i) {
                if($(this).val()!="") {
                    $("div#settings").show();
                    return false;
                }
             });
             $("#settings_label").on("click", function(event){
                 var style = $("div#settings").css('display');
                 if (style == 'none'){
                     $("div#settings").show();
                 } else {
                     $("div#settings").hide();
                 }
             });


             //get rates desc by ajax
            $("select#registration_user_rate").on('change', showRates);
             function showRates(event) {
                 var rate_id = $(this).val();
                 console.log(rate_id);
                 $.ajax({
                     url: "{{ path('_api_rates_all')}}/html/"+ rate_id,
                     type: "GET",
                     dataType: "html",
                     success: function(data) {
                         console.log(data);
                         $("div#info").empty();
                         $("div#info").show();
                         $("div#info").html(data);
                     }
                 });
             }
         })
     </script>
 {% endblock %}