<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Mail Service{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('public/css/bootstrap.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('public/css/jquery-ui-1.10.4.custom.css') }}" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/acmemail/markitup/skins/markitup/style.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/acmemail/markitup/sets/html/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/whiteoctoberpagerfanta/css/pagerfantaDefault.css') }}" type="text/css" media="all" />
    {% endblock %}
    {% block javascripts %}
        <script type="text/javascript">
            var JSON_URLS = {
                images: "{{ path('api_upload_image')}}",
                files: "{{ path('api_upload_file') }}",
                templates: "{{ path('_api_templates_all') }}",
                emails: "{{ path('_emails') }}"
            };
        </script>
        <script type="text/javascript" src="{{ asset('public/js/jquery-1.10.2.js') }}"></script>
        <script src="{{ asset('public/js/bootstrap.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/js/jquery-ui-1.10.4.custom.js') }}" type="text/javascript"></script>
        <script   type="text/javascript" src = "{{ asset('bundles/acmemail/js/markitup-img.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmemail/markitup/jquery.markitup.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmemail/markitup/sets/html/set.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmemail/js/hinclude.js') }}"></script>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

    {% block navbar %}
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('_hello') }}">Brand</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="collapse">
                    <ul class="nav navbar-nav" id="collapse">
                        <li class=""><a href="{{ path('_mail_home') }}">Почта</a></li>
                        <li><a href="{{ path('_list_home') }}">Адреса</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="#"><a href="{{ path('_login') }}">Вход</a></li>
                        <li><a href="{{ path('_registration') }}">Регистрация</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}

    <div class="container">
        {% block body %}
            {% set page_name = "Базовая страница" %}

        {% endblock %}
    </div>
</body>
</html>
