<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Подтверждение email</title>
</head>
<body>
{% block body %}
    Добрый день!
    Ваш почтовый аккаунт указан для рассылки. Для подтверждения перейдите по ссылке:
    <a href="{{ url }}"> Подтвердить!</a> <br />
{% endblock %}
</body>
</html>
