{% form_theme form 'AcmeMailBundle:Default:fields.html.twig' %}
{% extends '::base.html.twig' %}

{% block body %}
    {{ form_start(form, {'method':'post','attr':{'id':'form'}}) }}

    {% if form.submit %}
        {{ form_row(form.submit) }}
    {% elseif %}
        <button type="button" id="submit"> Сохранить </button>
    {% endif %}
        {{ form_rest(form) }}
    {{form_end(form)}}

    <script type="text/javascript">
        $(document).ready(function() {
            $("form#form button").on('click', function(){
                //$("form#user").on('submit', function() {
                var form = $("form#form").serialize();
                //form = JSON.stringify(form);
                console.log(form);
                $.ajax({
                    url: "{{ path('_api_users_new')}}",
                    type: "POST",
                    //dataType: "json",
                    data: form,
                    success: function(data) {
                        console.log(data);
                    }
                });
            })

        });
    </script>
{% endblock %}