{% form_theme form 'AcmeMailBundle:Default:fields.html.twig' %}
{% extends '::base.html.twig' %}

{% block body %}
    {{ form_start(form, {'method':'post','attr':{'id':'user'}}) }}
    {{ form_row (form.username) }}
    {{ form_row (form.password) }}
    {{ form_row(form.settings) }}
    {{ form_row(form.rate) }}
    <button type="button" id="submit"> Сохранить </button>
    {{form_end(form)}}
    <script type="text/javascript">
        $(document).ready(function() {
           $('button#submit').on('click', function(){
           //$("form#user").on('submit', function() {
               var form = $("form#user").serialize();
               //form = JSON.stringify(form);
               console.log(form);
               $.ajax({
                   url: "{{ path('_api_users_new')}}",
                   type: "POST",
                   //dataType: "json",
                   data: form,
                   success: function(data) {
                       console.log(data);
                   }
               });
           })

        });
    </script>
{% endblock %}