{% form_theme form 'AcmeMailBundle:Auth:fields.html.twig' %}
{% extends 'AcmeMailBundle:Default:index.html.twig' %}

 {% block body %}

 <div class="col-md-6">
     <h4>Создание нового тарифа</h4>
     {{ form_start(form, {'method':'post', 'action': path('_manage_rate', {'id': id }), 'attr':{'class': 'form-horizontal'}}) }}
     <form class="form-horizontal" action="{{ path('_manage_rate', {'id': id }) }}" method="post" >
     {{ form_errors(form) }}

     <div class="form-group">
         {{ form_label(form.name, null, { 'label_attr': {'class': 'col-sm-4 control-label'} }) }}
         <div class="col-sm-8">
             {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
         </div>
     </div>
     <div class="form-group">
         {{ form_label(form.price, 'Стоимость (RUB)', { 'label_attr': {'class': 'col-sm-4 control-label'} }) }}
         <div class="col-sm-4">
             {{ form_widget(form.price, { 'attr': {'class': 'form-control'} }) }}
         </div>
     </div>
     <div class="form-group">
         <label for="rate_message_count" class="col-sm-4 control-label"> Сообщений кол-во:  </label>
         <div class="col-sm-4">
             {{ form_widget(form.message_count, { 'attr': {'class': 'form-control'} }) }}
         </div>
     </div>
     <div class="form-group">
         {{ form_label(form.description, null, { 'label_attr': {'class': 'col-sm-4 control-label'} }) }}
         <div class="col-sm-8">
             {{ form_widget(form.description, { 'attr': {'class': 'form-control', 'rows':'4'} }) }}
         </div>
     </div>

     <div class="form-group">
         <div class="col-sm-offset-4 col-sm-8">
             {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-primary'} }) }}
         </div>
     </div>
     <input type="hidden" id="rate_message_price" name="rate[message_price]" required="required" value="0.00"/>
     </form>
</div>
     <div class="col-md-6">
         <div class="alert alert-dismissible" role="alert" id="info">
             <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
             <p>

             </p>
         </div>
     </div>

<script>
    $(document).ready(function(){
        $("#rate_message_count").on('keyup', update_price);
        $("#rate_message_count").on('blur', update_price);
        $("#rate_price").on('blur', update_price);
        $("#rate_price").on('keyup', update_price);
        $("div#info").hide();
        function update_price(event){
            var message_price = 0;
            var count = $("#rate_message_count").val();
            var price = $("#rate_price").val();
            if (count > 0 && price > 0) {
                message_price = (price/count).toFixed(2);
            }
            if (message_price > 0) {
                $("div#info").attr("class", "alert alert-dismissible alert-info");
                $("div#info p").text("Цена сообщения: " + message_price +
                        " Средства с баланса пользователя списываются исходя из этой стоимости за каждую рассылку."
                );
            } else {
                $("div#info").attr("class", "alert alert-dismissible alert-danger");
                $("div#info p").text(
                        "Цена сообщения не может быть " + message_price+
                        "! Укажите другие цену тарифа и количество сообщений."
                );
            }
            $("#rate_message_price").val(message_price);

            $("div#info").show();
            return false;
        }
    });
</script>{% endblock %}