{% block infobox %}
    <div>
        <h4> Тариф {{ rate.getName() }}</h4>
        <p>
            <strong>Сообщений: </strong> {{ rate.getMessageCount() }} <br />
            <strong>Цена сообщения:</strong> {{ rate.getMessagePrice()}} <br />
        </p>
        <p>
            {{ rate.getDescription() }}
        </p>
    </div>
{% endblock %}