{% form_theme form  'AcmeMailBundle:Default:fields.html.twig' %}
{% extends 'AcmeMailBundle:Default:profile.html.twig' %}

{% block submenu %}
    <li><a href="{{ path('_profile') }}">
            <span class="glyphicon glyphicon-arrow-left"></span> Назад</a></li>
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-4" id="add">
            <h4><span class="label label-primary" id="add_label">Добавить адрес: </span></h4>
            {{ form_start(form, {'method':'post', 'action': path('_emails', {'id': id}),
            'attr':{'role' : 'form', 'id':'add_form' }}) }}
            {{ form_errors(form) }}
            {{ form_row(form.value) }}
            {{ form_row(form.password.password) }}
            {{ form_row(form.password.confirm) }}
            <div class="row form-group pull-right">
                {{ form_widget(form.submit, {'attr': {'class':'btn btn-primary'}}) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="row">
        <strong>Все адреса: </strong>
        <div class="col-md-12" id="emails">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><input type="checkbox" /></th>
                    <th>Имя</th>
                    <th>Статус</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for emailField in pager.currentPageResults %}
                    <tr>
                        <td>#</td>
                        <td>{{ emailField.value }}</td>
                        <td>
                            {% if  emailField.status == 1 %}
                                Новый
                            {% elseif emailField.status == 3 %}
                                Активен
                            {% else  %}
                                Проверяется
                            {% endif %}
                        </td>
                        <td>
                            <div id = "actions">
                                <a href = "{{ path('_emails', {'id': emailField.id}) }}" class="btn btn-sm btn-warning">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                <a href = "{{ path('_emails_remove', {'id': emailField.id}) }}" class="btn btn-sm btn-danger">
                                    <span class="glyphicon glyphicon-remove"></span>
                                     </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <ul class="pagination">
                <div class="pagerfanta">
                    {{ pagerfanta(pager, 'twitter_bootstrap3') }}
                </div>
            </ul>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $("form#add_form").hide();
            $("form#add_form").children("div").find("input").each(function(index) {
                if($(this).val()!="") {
                    $("form#add_form").show();
                    return false;
                }
            });
            $("#add_label").on("click", function(event){
                var style = $("form#add_form").css('display');
                if (style == 'none'){
                    $("form#add_form").show();
                } else {
                    $("form#add_form").hide();
                }
            });
        })

    </script>
{% endblock %}