{% block form_row %}
    {% spaceless %}
        <div class="form-group">
            {{ form_label(form, null, { 'label_attr': {'class': 'control-label'}} ) }}
            {{ form_widget(form, { 'attr': {'class': 'form-control'} }) }}
            <span class="help-block">{{ form_errors(form) }}</span>
        </div>
    {% endspaceless %}
{% endblock form_row %}