{% extends '::base.html.twig' %}
{# это комментарий #}
    {% set page_name = "Главная страница" %}
{% block navbar %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('_main_page') }}">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="collapse">
                <ul class="nav navbar-nav" id="collapse">
                    <li><a href="{{ path('_mail_home')}}">Почта</a></li>
                    <li><a href="{{ path('_list_home') }}">Адреса</a></li>
                </ul>
                <!-- <p class="navbar-text"> <strong>{{ page_name }} </strong></p> -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('_profile') }}">
                            {%  if app.user %}
                                Аккаунт: {{ app.user.username }}
                            {% endif %}
                    </a></li>
                    <li><a href="{{ path('_profile_pay') }}">
                            {%  if app.user %}
                            {%  if app.user.settings %}
                                Баланс: {{ app.user.settings.balance }}
                            {% endif %}
                            {% endif %}
                    </a></li>
                    <li class="active"><a href="{{ path('_logout') }}">Выход</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

 {% block body %}
          {%  if app.user  and app.user.settings %}
        Welcome, {{ app.user.settings.name }}
     {% endif %}
     <br />
         Главная страница авторизованных пользователей
 {% endblock %}

