{% form_theme form 'AcmeMailBundle:Default:fields.html.twig' %}
{% extends 'AcmeMailBundle:Default:profile.html.twig' %}

{%  block content  %}
    <div class="col-md-6">
        Пополнение баланса аккаунта
        <form action="{{ path('_profile_pay') }}" method="post" >
            <span class="help-block">{{ form_errors(form) }}</span>
            {{ form_row(form.sum) }}
            <div class="form-group">
                <label for="payment">Способы оплаты</label>
                {% for payment in form.payment %}
                    <div class="radio">
                        {{ form_widget(payment) }}
                        {{ form_label(payment) }}
                    </div>
                {% endfor %}
                <span class="help-block">{{ form_errors(form.payment) }}</span>
            </div>

            <div class="form-group pull-right">
                {{ form_widget(form.submit, {'attr':{'class':'btn btn-default'}}) }}
            </div>
            {{ form_rest(form) }}
        </form>
    </div>


{% endblock %}