{% extends 'AcmeMailBundle:Default:index.html.twig' %}
{# это комментарий #}
{% set page_name = "Личный кабинет пользователя" %}
 {% block body %}

     <div class="col-md-3 col-sm-1">
         <ul class="nav nav-pills nav-stacked">
             {% block submenu %}

                 <li><a href="{{ path('_emails') }}">Почтовые аккаунты</a></li>
                 <li class="dropdown">
                     <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                         Шаблоны <span class="caret"></span>
                     </a>
                     <ul class="dropdown-menu" role="menu">
                         <li><a href="{{ path('_templates', {'page':1}) }}" class="">Просмотр</a></li>
                         <li><a href="{{ path('_templates_edit') }}" class="">Новый</a></li>
                         <li><a href=" {{ path('_templates_upload') }}">Импорт </a></li>
                     </ul>
                 </li>
                 <li class="dropdown">
                     <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                         Настройки <span class="caret"></span>
                     </a>
                     <ul class="dropdown-menu" role="menu">
                         <li><a href="{{ path('_profile_settings') }}">Личные данные</a></li>
                         <li><a href="{{ path('_profile_password') }}" class="">Пароль</a></li>
                         <li><a href=" {{ path('_profile_rate') }}">Тарифы </a></li>
                     </ul>
                 </li>
                 <li><a href="{{ path('_profile_pay') }}">Баланс</a></li>

             {% endblock %}
         </ul>
     </div>
     <div class="col-md-9 col-sm-11">
         {% block content %}
             <div class="row">
                 <div class="col-md-2">
                     <img src="{{ asset('favicon.ico') }}" alt="фото профиля" />
                 </div>
                 <div class="col-md-6">


                     <p>
                         <strong>Имя:</strong>{{ user.settings.name }}<br />
                         <strong>Компания:</strong> {{ user.settings.company }} <br />
                         <strong>Телефон:</strong> {{ user.settings.phone }} <br />
                     </p>
                 </div>
                 <div>
                     <p> <strong>Тариф</strong>:
                         {% if user.rate is defined and user.rate != null %}
                            {{ user.rate.name }}
                         {% endif %}</p>
                 </div>
             </div>
         {% endblock %}

     </div>

 {% endblock %}