{% form_theme rate_form  'AcmeMailBundle:Default:fields.html.twig' %}
{% extends 'AcmeMailBundle:Default:profile.html.twig' %}


{% block submenu %}
    <li><a href="{{ path('_profile') }}">
            <span class="glyphicon glyphicon-arrow-left"></span> Назад</a></li>
{% endblock %}

 {% block content %}
     <div class="row">
         <div class="col-md-4">
             {{ form_start(rate_form, {'attr':{'class': ' ', 'role' : 'form' }}) }}
             {{ form_row(rate_form.rate) }}
             <div class="form-group pull-right">
                 {{ form_widget(rate_form.rate_submit, {'attr':{'class':'btn btn-default'}}) }}
             </div>
             {{ form_end(rate_form) }}
         </div>

         <div class="col-md-4" id="alerts">
             {% if message %}
                 <div class="alert alert-success" role="alert">
                     <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                     {{ message }}</div>
             {% endif %}
         </div>

     </div>
     <script type="text/javascript">
         $(document).ready(function() {
             $("select#form_rate").on('change', showRates);
             function showRates(event) {
                 var rate_id = $(this).val();

                 $.ajax({
                     url: "{{ path('_api_rates_all')}}/html/"+ rate_id,
                     type: "GET",
                     dataType: "html",
                     success: function(data) {
                         console.log(data);
                         var template = "<div class='alert alert-info' id='info'>"+
                                 "<button type='button' class='close' data-dismiss='alert'>"+
                                 "<span aria-hidden='true'>&times;</span></button>"+
                                 data + "</div>";
                         $("div#alerts").append(template);
                     }
                 });
             }
         });

     </script>

 {% endblock %}