{% block form_row %}
    {% spaceless %}
        <div class="form_group">
            {{ form_label(form) }}
            {{ form_widget(form, { 'attr': {'class': 'form-control'} }) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}