<form id='upload_file_form' method='POST' enctype='multipart/form-data'><input name='form[inlineUploadFile]' type='file' /><button type='button' class='btn btn-default' id="upload_btn" >Загрузить </button></form>