{% extends 'AcmeMailBundle:Mail:index.html.twig' %}

{% block submenu %}
    <li><a href="{{ path('_mail_home') }}">
            <span class="glyphicon glyphicon-arrow-left"></span> Назад</a></li>
{% endblock %}

{% block content %}

    <form action="{{ path('_mail_group_send') }}" method="post" class="">
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_errors(form.mailing.group) }}
            {{ form_label(form.mailing.group) }}
            {{ form_widget(form.mailing.group, {'attr':{'class':'form-control' }}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.mailing.sender) }}
            {{ form_widget(form.mailing.sender, {'attr':{'class':'form-control' }}) }}
            <span class="help-block">
                {{ form_errors(form.mailing.sender) }}</span>
        </div>

        <div class="form-group">
            {{ form_errors(form.mailing.date) }}
            {{ form_label(form.mailing.date) }}
            <select class="form-control" id="message_date_select">
                <option value="" selected> -</option>
                <option value="1">Сразу</option>
                <option value="2">Отложить</option>
            </select>

            <div id="message_date_value">
                <label class="control-label">Укажите дату: </label>
                {{ form_widget (form.mailing.date, {'attr':{'class':'form-control' }}) }}
            </div>
        </div>

        <div class="checkbox">
            <label class="control-label">
                {{ form_errors(form.use_template) }}
                {{ form_widget(form.use_template) }}    Использовать шаблон письма
            </label>
        </div>


        <div class="form-group" id="template">
            {{ form_errors(form.template) }}
            {{ form_widget(form.template, {'attr':{'class':'form-control' }}) }}
        </div>

        <div class="form-group">
            {{ form_errors(form.mailing.theme) }}
            {{ form_label(form.mailing.theme) }}
            {{ form_widget(form.mailing.theme, {'attr':{'class':'form-control' }}) }}
        </div>
        <div id="message_attachments">
            <button class="btn btn-sm btn-default" id="add">
                <span class="glyphicon glyphicon-paperclip"></span> Вложения
            </button>
        </div>
        <div class="form-group">
            {{ form_errors(form.text) }}
            {{ form_label(form.text, null, {'label_attr':{'class':'sr-only' }}) }}
            {{ form_widget(form.text, {'attr':{'class':'form-control', 'rows' : '10' }}) }}
        </div>
        <div class="form-group" id="message_variables">
        </div>
        <div class="form-group pull-right">
            {{ form_widget(form.submit, {'attr':{'class':'btn btn-primary' }}) }}
        </div>
        {{ form_row(form._token) }}
    </form>

    <div class="modal fade upload-modal" tabindex="-1" role="dialog" aria-hidden="true" id="upload_modal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <form class="form" id='upload_file_form' method='POST' enctype='multipart/form-data'>
                        <div class="form-group">
                            <label for="name">Имя:</label>
                            <input name='form[name]' type='text' id="name" required="required"/>
                        </div>
                        <div class="form-group">
                            <label for="inlineUploadFile">Файл:</label>
                            <input name='form[inlineUploadFile]' type='file' id="inlineUploadFile"/>
                        <span class="help-block">
                            Форматы: .jpg .jpeg .png .bmp .txt
                        </span>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type='submit' class='btn btn-primary' id="upload_btn" >Загрузить </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ asset('bundles/acmemail/markitup/jquery.markitup.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/acmemail/markitup/sets/html/set.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/acmemail/markitup/skins/markitup/style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/acmemail/markitup/sets/html/style.css') }}"/>
    <script type="text/javascript" src="{{ asset('bundles/acmemail/js/markitup-img.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/acmemail/js/group-msg.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/acmemail/js/attachments.js') }}"></script>

{% endblock %}