{% extends 'AcmeMailBundle:Default:index.html.twig' %}
{% set page_name = "Управление рассылками" %}
 {% block body %}

         <div class="col-md-2">
             <ul class="nav nav-pills nav-stacked">
                 {% block submenu %}
                     <li class="dropdown">
                         <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                             Создать <span class="caret"></span>
                         </a>
                         <ul class="dropdown-menu" role="menu">
                             <li><a href="{{ path('_mail_send') }}" class="">Письмо</a></li>
                             <li><a href=" {{ path('_mail_group_send') }}">Рассылку </a></li>
                         </ul>
                     </li>
                     <li><a href="#">Входящие</a></li>
                     <li><a href="{{ path('_mail_mail_sent', {'type': 'que'})}}">В очереди</a></li>
                     <li><a href="{{ path('_mail_mail_sent', {'type': 'sent'})}}">Отправленные</a></li>
                 {% endblock %}
             </ul>
         </div>
         <div class="col-md-10">
             {% block content %}
                Почтовый ящик
                 {% if message and message|length>0 %}
                 <div class="col-md-6 pull-right">
                     <div class="alert alert-warning" role="alert" id="message">
                         <button type="button" class="close" data-dismiss="alert">
                             <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            {{ message.msg }}
                            <a href="{{ message.link }}" target=''>Перейти -> </a>

                     </div>
                 </div>
                 {% endif %}
             {% endblock %}
         </div>
 {% endblock %}