<div id="stat">
    {% block stat %}
        <p>
            <strong>Статистика по рассылке</strong> id# {{ mail.id }}
        </p>

        <div class="row">
            <div class="col-md-8">
                <p>
                    <strong>Получатели: </strong> {{ mail.messages|length }}<br/>
                    <strong>Отправлено: </strong>
                    {% set received = 0 %}
                    {% for msg in mail.messages %}
                        {% if msg.status == 3 or msg.status == 7 %}
                            {% set received = received + 1 %}
                        {% endif %}
                    {% endfor %}
                    {{ received }}
                    <br/>
                    <a href="#" id="show_targets">Показать весь список</a> <br/>
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    {{ mail.theme }}   <br/>
                    <strong>Доставка:</strong> {{ mail.date|date('d, M H:m', 'Europe/Moscow') }} <br/>
                    <a href="{{ path('_mail_view', {'id' : mail.messages[0].id}) }}" id="show_text" target="_blank">Посмотреть
                        сообщение</a>
                </p>
            </div>
        </div>
        <div id="targets_table">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Имя</th>
                    <th>Почта</th>
                    <th>Текст</th>
                    <th>Статус</th>
                </tr>
                </thead>
                <tbody>
                {% for message in mail.messages %}
                    <tr>
                        <td>#</td>
                        <td>{{ message.target.name }} {{ message.target.surname }}</td>
                        <td> {{ message.target.email }}</td>
                        <td><a href="{{ path('_mail_view', {'id' : message.id}) }}" target="_blank">Текст письма</a>
                        </td>
                        <td>
                            {% if (message.status == 1) or (message.status == 2) %}
                                <span class="glyphicon glyphicon-repeat"></span>
                            {% elseif (message.status == 3) %}
                                <span class="glyphicon glyphicon-ok"></span>
                            {% elseif (message.status == 5) or (message.status == 4) %}
                                <span class="glyphicon glyphicon-warning-sign"></span>
                            {% elseif message.status == 6 %}
                                cancelled
                            {% elseif (message.status == 7) %}
                                просмотрено
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% endblock %}
    {% block script %}
        <script type="text/javascript">
            $(document).ready(function () {
                $("#targets_table").hide();
                $("a#show_text").click(function (event) {
                    return true;
                });
                $("a#show_targets").click(function (event) {
                    $("#targets_table").show();
                })
            });
        </script>
    {% endblock %}

</div>
