<tr>
    <td> <input type="checkbox" /> </td>
    <td>
        {% if (mail.status == 1) or (mail.status == 2)  %}
            <span class="glyphicon glyphicon-repeat"></span>
        {% elseif (mail.status == 3)  %}
            <span class="glyphicon glyphicon-ok"></span>
        {% elseif (mail.status == 5) or (mail.status == 4)%}
            <span class="glyphicon glyphicon-warning-sign"></span>
        {% elseif mail.status == 6 %}
            cancelled
        {% endif %}
    </td>
    <td>
        <strong> {{ mail.theme }}</strong> <br />
        {{ mail.date|date('d, M Y H:i', 'Asia/Irkutsk') }}
    </td>
    <td>
        Получателей: {{ mail.messages|length }}
    </td>
    <td>
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
                Действия <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="" class="show_report" id="{{ mail.id }}">Отчет</a></li>
                {#if (mail.date|date('d, M H:m', 'Asia/Irkutsk') > "now"|date('d, M H:m', 'Asia/Irkutsk'))#}
                {% if mail.status != 3 %}
                    <li><a href="{{ path('_mail_mail_cancel', { 'id': mail.id} ) }}">Отменить</a></li>
                {% endif %}
                <li>
                    {% if mail.status != 1 and mail.status != 2 %}
                    <a href="#" class="resend" id="{{ mail.id }}">Повторить</a></li>
                {% endif %}
            </ul>
        </div>
    </td>
</tr>
