{% extends 'AcmeMailBundle:Mail:index.html.twig' %}

{% block submenu %}
    <li><a href="{{ path('_mail_home') }}">
            <span class="glyphicon glyphicon-arrow-left"></span> Назад</a></li>
{% endblock %}

{% block content %}
    <form action="{{ path('_mail_send') }}" method="post" class="">
        {{ form_errors(form) }}
        <div class="form-group">

            {{ form_label(form.sender) }}
            {{ form_widget(form.sender, {'attr':{'class':'form-control'}}) }}
            <span class="help-block">
                {{ form_errors(form.sender) }}</span>
        </div>
        <div class="form-group">
            {{ form_label(form.target) }}
            {{ form_widget(form.target, {'attr': { 'class': 'form-control'}}) }}
            <span class="help-block">
                {{ form_errors(form.target) }}</span>
        </div>
        <div class="form-group">
            {{ form_label(form.theme) }}
            {{ form_widget(form.theme, {'attr': { 'class': 'form-control'}}) }}
            <span class="help-block">
                {{ form_errors(form.theme) }}</span>
        </div>

        <div id="message_attachments">
            <button class="btn btn-sm btn-default" id="add">
                <span class="glyphicon glyphicon-paperclip"></span> Вложения
            </button>
        </div>

        <div class="form-group">
            <span class="help-block">
                {{ form_errors(form.text) }}</span>
            {{ form_label(form.text, null, {'label_attr':{'class':'sr-only'}}) }}
            {{ form_widget(form.text, {'attr': { 'class': 'form-control', 'rows':'6'}}) }}

        </div>
        <div class="form-group pull-right">
            {{ form_widget(form.submit, {'attr':{'class':'btn btn-primary'}}) }}
        </div>

    </form>

    <div class="modal fade upload-modal" tabindex="-1" role="dialog" aria-hidden="true" id="upload_modal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <form class="form" id='upload_file_form' method='POST' enctype='multipart/form-data'>
                        <div class="form-group">
                            <label for="name">Имя:</label>
                            <input name='form[name]' type='text' id="name" required="required"/>
                        </div>
                        <div class="form-group">
                            <label for="inlineUploadFile">Файл:</label>
                            <input name='form[inlineUploadFile]' type='file' id="inlineUploadFile"/>
                        <span class="help-block">
                            Форматы: .jpg .jpeg .png .bmp .txt
                        </span>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type='submit' class='btn btn-primary' id="upload_btn" >Загрузить </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ asset('bundles/acmemail/js/attachments.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var select = $("select#message_sender");
            if (!select.children().length > 0) {
                select.parent("div").append("<span class='help-block'><a href=\""+window.JSON_URLS.emails+"\">"+
                        "Добавтьте почтовый аккаунт для рассылки!</a></span> ");
                $("button#message_submit").prop('disabled', true);
            }
        });
    </script>

{% endblock %}