{% extends 'AcmeMailBundle:Mail:index.html.twig' %}

{% block content %}
    <div class="row">
    <div class="col-md-12" id="mails">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><input type="checkbox" /></th>
                <th>Статус</th>
                <th>Инфо</th>
                <th>Получатели</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% for mail in mails %}
                    {{ include ('AcmeMailBundle:Mail:mail_row.html.twig', { 'mail': mail }) }}
                {% endfor %}
            </tbody>
        </table>
        <ul class="pagination">
                {% if page > 1 %} <li><a href="{{ path('_mail_mail_sent', {'page': page-1, 'type': type}) }}"> {{ page - 1 }}</a></li>{% endif %}
                <li class="active"> <a href="#"> {{ page }} </a> </li>
                {%  if (mails|length != 0) and ((limit * page) < mails_size)%}
                    <li> <a href="{{ path('_mail_mail_sent', {'page': page+1, 'type': type}) }}"> {{ page + 1 }} </a> </li>
                {% endif %}
        </ul>
    </div>
    </div>

        <div id="mail_stat">
        </div>

    <script type="text/javascript">
        $(document).ready(function() {
            console.log("jquery");
            $("#mail_stat").hide();

            //$("a.show_report").on("click", report);
            $("#mails").on("click", "a.show_report", report);
            $("a.resend").on("click", resend);

            function resend(event){
                console.log("resend clicked");
                event.preventDefault();
                var field = $(this).closest("tr");
                console.log(field);
                var id = $(this).attr("id");
                var date = prompt("Дата и время рассылки:", "yy-mm-dd hh:mm:ss");
                if (!date) return false;
                var data = {
                    id : id,
                    date : date
                };
                var serialized_data = $.param(data);
                console.log(serialized_data);
                $.ajax({
                    url: "{{ path("_mail_mail_resend")}}",
                    data: serialized_data,
                    dataType: "html",
                    type: "POST",
                    success: function(data) {
                        field.replaceWith(data);
                        field.find("a.resend").on("click", resend);
                        //field.find("a.show_report").on("click", report);
                    },
                    error: function(data) {
                        console.log(data);
                        alert("Не удалось обновить рассылку");
                    }
                });
                return false;
            }

            function report(event) {
                console.log("report clicked");
                event.preventDefault();
                var id = $(this).attr("id");
                $.ajax({
                    url: "{{ path("_api_mails_all")}}/html/"+id,
                    dataType: "html",
                    type: "GET",
                    success: function(data) {
                        //console.log(data);
                        $("#mails").hide();
                        var stat = $("#mail_stat");
                        stat.append("<button type='button' class='btn btn-sm btn-primary pull-right' id='close'>Закрыть</button>");
                        $("#close").click(function() {
                            $("#mail_stat").empty();
                            $("#mail_stat").hide();
                            $("#mails").show();
                        });
                        stat.append(data);
                        stat.show();
                        // count delivered msg
                    },
                    error: function(data) {
                        console.log("error");
                    }
                });
                return false;
            }
        });
    </script>
{% endblock %}