{% extends 'AcmeMailBundle:Default:index.html.twig' %}

{% block body %}

    {{ form_start(form, { 'attr':{'id':'payment-form'}})}}
        {{ form_rest(form)}}
    {{form_end(form)}}

    <script type="text/javascript">
    // setTimeout(function () { document.getElementById('payment-form').submit(); }, 500);
    </script>
{% endblock %}