
{% block form %}

    {{ form_start(form, {'method':'post', 'attr':{'class': ' ', 'role' : 'form' }}) }}
    {{ form_errors(form) }}
    <div class="form-group">
        {{ form_label(form.name, null, { 'label_attr': {'class': 'control-label'} }) }}
        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.value, null, { 'label_attr': {'class': 'control-label'} }) }}
        {{ form_widget(form.value, { 'attr': {'class': 'form-control', 'row':10} }) }}
    </div>
    {{ form_end(form) }}
{% endblock %}