{% form_theme form 'AcmeMailBundle:Default:fields.html.twig' %}
{% extends 'AcmeMailBundle:Default:profile.html.twig' %}


{% block submenu %}
    <li><a href="{{ path('_profile') }}">
            <span class="glyphicon glyphicon-arrow-left"></span> Назад</a></li>
{% endblock %}

{% block content %}
    <div class="col-md-6">
        <h4>Импорт из файла</h4>

        <form path="{{ path('_templates_upload') }}" method="post" enctype="multipart/form-data">
            <span class="help-block">{{ form_errors(form) }}</span>
            {{ form_row(form.name) }}
            <div class="form-group">
                {{ form_label(form.file, null, { 'label_attr': {'class': 'control-label'}} ) }}
                {{ form_widget(form.file) }}
                <span class="help-block">{{ form_errors(form.file) }}</span>
            </div>
            <div class="form-group pull-right">
                {{ form_widget(form.send, {'attr':{'class':'btn btn-default'}}) }}
            </div>
            {{ form_rest(form) }}
        </form>
    </div>

{% endblock %}