{% extends 'AcmeMailBundle:Default:profile.html.twig' %}

{% block submenu %}
    <li><a href="{{ path('_profile') }}">
            <span class="glyphicon glyphicon-arrow-left"></span> Назад</a></li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6" id="templates">

            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th colspan="3"><h5>Ваши шаблоны писем: </h5></th>
                </tr>
                </thead>
                <tbody>
                {% for template in pager.currentPageResults %}
                    <tr>
                        <td>#</td>
                        <td>{{ template.name }}</td>
                        <td>
                            <div id="actions">
                                <a href="{{ path('_templates_edit', {'id': template.id}) }}"
                                   class="btn btn-sm btn-warning">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                <a href="{{ path('_templates_remove', {'id': template.id}) }}"
                                   class="btn btn-sm btn-danger">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="pagerfanta">
                {% if pager.haveToPaginate %}
                    {{ pagerfanta(pager, 'twitter_bootstrap3', {routeName: '_templates'}) }}
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}