{% extends 'AcmeMailBundle:Default:profile.html.twig' %}


{% block submenu %}
    <li><a href="{{path('_profile')}}">
            <span class="glyphicon glyphicon-arrow-left"></span> Назад</a></li>
{% endblock %}

 {% block content %}
     <h4>Создание и редактирование шаблонов </h4>
     <form action=" {{ path('_templates_edit', {'id': id})}}" method="post">
     {{ form_errors(form) }}
     <div class="form-group">
         {{ form_label(form.name, null, { 'label_attr': {'class': 'control-label'} }) }}
         {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
     </div>
     <div class="form-group">
         {{ form_label(form.value, null, { 'label_attr': {'class': 'control-label'} }) }}
         <span class="help-block">
                Можно добавить переменные, значения которых подставляются при отправке сообщения для каждого пользователя.
                Пропишите их в тексте шаблона,
                <strong>формат: [[ имя_переменной ]] </strong> и укажите тип после
         </span>
         {{ form_widget(form.value, { 'attr': {'class': 'form-control', 'rows':10} }) }}
     </div>
     <div class="form-group" id="template_variables">
         {{ form_label(form.variables) }}
         <span class="help-block" id="vars_info">
            Допустимые стандартные перменные: 'user','user_email', 'sender_email', 'theme', 'link'
         </span>
         <table class="table table-condensed" id="variables-table">
             <thead>
             <tr>
                 <th>Имя</th>
                 <th>Тип</th>
                 <th>Actions</th>
             </tr>
             </thead>
             <tbody>
             {% for variable in form.variables %}
                 {{ include('AcmeMailBundle:Template:varfield.html.twig', {'variable': variable }) }}
             {% endfor %}
             </tbody>
             </table>
             <button class="btn btn-sm btn-info" id="add">
                 <span class="glyphicon glyphicon-plus"></span> Plus
             </button>
     </div>
     <div class="row form-group pull-right">
         {{ form_widget(form.submit, {'attr':{'class':'btn btn-primary'}}) }}
     </div>
         {{ form_widget(form._token) }}
     </form>

     <script type="text/javascript" >
        $(document).ready(function() {
            $("#template_value").markItUp(mySettings);

            var $collectionHolder;
            $collectionHolder = $('#variables-table');
            $collectionHolder.data('index', $collectionHolder.find('tr').length);
            $collectionHolder.find('tbody tr').each(function(){
                addTagFormDeleteLink($(this));
            });

            var pattern = "<tr>" +
                    "<td><input type='text' id='template_variables___name___name' name='template[variables][__name__][name]' /></td>" +
                    "<td><select id='template_variables___name___type' name='template[variables][__name__][type]' >" +
                    "<option value = '1'>Текст</option><option value = '2'>Переменная</option></select></td>"+
                    "</tr>";

            $("#add").click(function (event) {
                event.preventDefault();
                console.log("clicked");
                var prototype = $collectionHolder.attr('data-prototype');
                // get the new index
                var index = $collectionHolder.data('index');
                var form = pattern.replace(/__name__/g, index);
                $collectionHolder.data('index', index + 1);
                $collectionHolder.append(form);
                addTagFormDeleteLink($collectionHolder.find('tr').last());
            });

            function addTagFormDeleteLink($tagTr) {
                var $removeLink = $('<td><a href="#">delete this</a></td>');
                $tagTr.append($removeLink);

                $removeLink.on('click', function(e) {
                    // prevent the link from creating a "#" on the URL
                    e.preventDefault();
                    // remove the li for the tag form
                    $tagTr.remove();
                });
            }
        });
    </script>
 {% endblock %}

