{% form_theme form 'AcmeMailBundle:Default:fields.html.twig' %}
{% extends 'AcmeMailBundle:Default:profile.html.twig' %}


{% block submenu %}
    <li><a href="{{ path('_list_home') }}">
            <span class="glyphicon glyphicon-arrow-left"></span> Назад</a></li>
{% endblock %}

{% block content %}
    <div class="col-md-8">
        <h4>Импорт из файла</h4>

        <p> Укажите имя файла, названия полей для загрузки; разделитель - ';'/','</p>

        <form path="{{ path('_templates_upload') }}" method="post" enctype="multipart/form-data">
            <span class="help-block">{{ form_errors(form) }}</span>
            {{ form_row(form.name) }}
            {{ form_row(form.divider) }}
            <div class="form-group">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Параметр</th>
                        <th>Имя поля в файле</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td> Имя:</td>
                        <td> {{ form_widget(form.target_name) }}</td>
                    </tr>
                    <tr>
                        <td> Фамилия:</td>
                        <td> {{ form_widget(form.target_surname) }}</td>
                    </tr>
                    <tr>
                        <td> Email:</td>
                        <td> {{ form_widget(form.target_email) }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                {{ form_label(form.file, null, { 'label_attr': {'class': 'control-label' }} ) }}
                {{ form_widget(form.file) }}
                <span class="help-block">{{ form_errors(form.file) }}</span>
            </div>
            <div class="form-group pull-right">
                {{ form_widget(form.send, {'attr':{'class':'btn btn-default' }}) }}
            </div>
            {{ form_rest(form) }}
        </form>
    </div>

{% endblock %}