{% extends 'AcmeMailBundle:Default:index.html.twig' %}
{% set page_name = "Управление группами рассылки" %}

 {% block body %}
     <div class="col-md-3">
         <ul class="nav nav-pills nav-stacked">
             {% block submenu %}
                 <li><a href="{{ path('_list_manage', {'id': 0}) }}" class="">Новый список</a></li>
                 <li><a href="{{ path('_list_upload') }}" class="">Импорт списка</a></li>
             {% endblock %}
         </ul>
     </div>
     <div class="col-md-7">
         {% block content %}

             <h4>Управление списками рассылок</h4>
             <div class="row">
                 <div class="col-md-12" id="lists">
                     <table class="table table-striped table-condensed">
                         <thead>
                         <tr>
                             <th><input type="checkbox"/></th>
                             <th>Имя</th>
                             <th>Адресов в списке </th>
                             <th></th>
                         </tr>
                         </thead>
                         <tbody>
                         {% for list in pager.currentPageResults %}
                             <tr>
                                 <td>#</td>
                                 <td>{{ list.name }}</td>
                                 <td>{{ list.getTargets()|length }} </td>
                                 <td>
                                     <div id="actions">
                                         <a href="{{ path('_list_manage', {'id': list.id}) }}"
                                            class="btn btn-sm btn-warning">
                                             <span class="glyphicon glyphicon-pencil"></span>
                                         </a>
                                         <a href="{{ path('_list_remove', {'id': list.id}) }}"
                                            class="btn btn-sm btn-danger">
                                             <span class="glyphicon glyphicon-remove"></span>
                                         </a>
                                     </div>
                                 </td>
                             </tr>
                         {% endfor %}
                         </tbody>
                     </table>
                     <div class="pagerfanta">
                         {{ pagerfanta(pager, 'twitter_bootstrap3') }}
                     </div>
                 </div>
             </div>
         {% endblock %}
     </div>
 {% endblock %}