{% extends 'AcmeMailBundle:List:index.html.twig' %}

{% block submenu %}
    <li><a href="{{ path('_list_home') }}">
            <span class="glyphicon glyphicon-arrow-left"></span> Назад</a></li>
{% endblock %}

{% block content %}

             <form method="POST" role="form"
                     action="{{ path('_list_manage', {'id': id})}}">
                 {{ form_errors(form) }}
                 <div class="form-group">
                     {{ form_label(form.name,  null, {'label_attr':{'class':'control-label'}} )}}
                     <div class="">
                         {{ form_widget(form.name, {'attr':{'class':'form-control' }} )}}
                     </div>
                 </div>
                 <div class="form-group" id="targets" data-prototype="">
                    <label for="targets-table" class="control-label">Адреса: </label>
                    <table class="table table-bordered" id="targets-table">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>Имя</th>
                                <th>Фамилия</th>
                                <th>Email</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for target in form.targets %}
                                {{ include('AcmeMailBundle:List:table_field.html.twig', {'target': target }) }}
                            {% endfor %}
                        </tbody>
                    </table>
                 </div>
                 <div class="form-group pull-right">
                         <button class="btn btn-info" id="add_target">
                             <span class="glyphicon glyphicon-plus"></span> Plus
                         </button>
                         {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-primary'} }) }}
                 </div>

             </form>

     <script type="text/javascript">

         $(document).ready(function () {
             console.log("jquery");

             var $collectionHolder;
             $collectionHolder = $('div#targets table');
             $collectionHolder.data('index', $collectionHolder.find('tr.field').length);

             $collectionHolder.find('tr.field').each(function(){
                 addTagFormDeleteLink($(this));
             });

             var pattern = "<tr class='field'><td>#</td>" +
                     "<td><input type='text' id='maillist_targets___name___name' name='maillist[targets][__name__][name]' /></td>" +
                     "<td><input type='text' id='maillist_targets___name___surname' name='maillist[targets][__name__][surname]' /></td>"+
                     "<td><input type='email' id='maillist_targets___name___email' name='maillist[targets][__name__][email]' required='required' /></td>"+
                     "</tr>";

             $("#add_target").click(function (event) {
                 event.preventDefault();
                console.log("clicked");
                 var prototype = $collectionHolder.attr('data-prototype');
                 // get the new index
                 var index = $collectionHolder.data('index');
                 var form = pattern.replace(/__name__/g, index);
                 $collectionHolder.data('index', index + 1);
                 $collectionHolder.append(form);
                 addTagFormDeleteLink($collectionHolder.find('tr.field').last());
                 console.log($collectionHolder);
             });

             function addTagFormDeleteLink(tag) {
                 var removeLink = $("<td><a href=''><span class='glyphicon glyphicon-remove'></span></a></td>");
                 //var href = "{{ path('_api_targets_delete', {'id': "0"}) }}";
                 tag.append(removeLink);

                 removeLink.on('click', function(e) {
                     // prevent the link from creating a "#" on the URL
                     e.preventDefault();
                     // remove the li for the tag form
                     tag.remove();
                 });
             }
         });
     </script>

{% endblock %}