{% block field %}
        <tr class="field">
            <td></td>
            <td>{{ form_widget(target.name, { 'attr': {'class': ''}} ) }}</td>
            <td>{{ form_widget(target.surname, { 'attr': {'class': ''}} ) }}</td>
            <td>{{ form_widget(target.email, { 'attr': {'class': ''}} ) }}
                <span class="help-block">{{ form_errors(target.email)}} </span>
            </td>


        </tr>
{% endblock %}